/* ISOCHRON */

#GPisochron {
  left: 10px;
}

/* Showing/hiding isochron panel */

#GPshowIsochronOpen {
  background-image: url("img/GPisochronOpen.png");
}

/* General panels */

#GPisochronPanel {
  left: 8px;
}

#GPisochronPanelClose {
  background-image: url("img/GPisochronOpen.png");
}

/* Isochron form */

.GPisochronChoiceAlt input:checked + label + span {
  color: #366291;
}

.GPisochronOriginPointerImg,
.GPisochronChoiceAltImg,
.GPisochronTransportImg {
  background-image: url("img/GPisochronOptions.png");
}