/build
/doc
/jsdoc
/test
/test_rendering
/samples*
/samples-src
/coverage

.*

build.sh
CHANGELOG*
TODO*
FIXME*
CONTRIBUTING.md
CONTRIBUTORS.md
DEPENDENCIES.md
DRAFT_CHANGELOG.md
COMPILE.md
HISTORY.md

*.gz
*.tgz
*.sh
*.txt
*.log
