<!DOCTYPE html>
<html>
    <head>
        {{#extend "partials-common-head"}}
        {{/extend}}
        {{#extend "partials-itowns-common-head"}}
        {{/extend}}
        {{#extend "partials-itowns-bundle-head"}}
        {{/extend}}

        {{#block "head"}}
        {{/block}}
        {{#block "style"}}
        {{/block}}

    </head>
    <body>
        <h1>Extension Géoportail pour Itowns</h1>
        {{#block "body"}}
        {{/block}}

        {{#block "js"}}
        {{/block}}
    </body>
</html>
