/* TODO coller un peu plus à la charte
- liseret blanc transparent 32x32 autour du pictogramme
- pictogramme 26x26
- ...
*/
#GPtoolbox-measure-main {
  float: left;
  left: 10px;
  top: 262px;
  position: absolute;
  display: inline-block;￼
  z-index: 1;
}

#GPtoolbox-measure-button {
  color: white;
  border-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  background-color: rgba(0,60,136,0.5);
  border-radius: 4px;
  padding: 2px;
}

#GPtoolbox-measure-button {
  background-repeat: no-repeat;
  background-image: url("img/GPtoolBoxMeasureOpen.png");
}

#GPtoolbox-measure-widget {
  left:auto;
  display: none;
  /*visibility: hidden;*/
  position: absolute;
  /*right: 0;*/
  border-radius: 2px;
  /*background-color: #f9f9f9;*/
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

#GPtoolbox-measure-widget > div {
  display: block;
  /*visibility: visible;*/
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

#GPtoolbox-measure-main:hover #GPtoolbox-measure-widget {
    display: block;
    /*visibility: visible;*/
}

#GPtoolbox-measure-main:hover #GPtoolbox-measure-button {
    background-color: rgba(0,60,136,0.7);
}
