/* CSS : D3 */

text {
  fill: rgb(28, 28, 28);
  font-family: Verdana;
  font-size: 10px;
  opacity: 1;
  text-anchor: end;
}

.axis-d3 {
  fill: rgb(28, 28, 28);
  stroke: #FF0000;
  stroke-width: 0.2;
  shape-rendering: crispEdges;
}

.area-d3 {
  fill: #FFFF00;
  stroke: #00FF00;
  stroke-width: 0;
  fill-opacity: 0.4;
}

.line-d3 {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
}

.grid-d3 .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid-d3 path {
  stroke-width: 0;
}

.grid-d3 .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid-d3 path {
  stroke-width: 0;
}

.overlay-d3 {
  fill: none;
  pointer-events: all;
}

.focusLine-d3 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.5px;
}

.focusCircle-d3 {
  fill: #000000;
}

div.tooltip-d3 {
    opacity: 0.5;
    position: inherit;;
    text-align: middle;
    width: 80px;
    height: 35px;
    padding: 2px;
    font: 10px sans-serif;
    background: red;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
