<!DOCTYPE html>
<html>
<head>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta charset="UTF-8"> 
  <title>Liste des exemples Leaflet</title>
</head>
<body>
  <h1>Exemples d'utilisation de l'extension Géoportail pour Leaflet</h1>
  <div>
    <!-- liste des fichiers -->
    <h2>Liste des exemples</h2>
    <ul>
    <% files.forEach(function(path) {
        var split  = path.split('/');
        var plugin = split.slice(-2)[0];
        var file   = split.slice(-1)[0];
      %>
      <li><a href="<%- path %>"> <%- plugin %> -- <%- file %></a></li>
      <% });
    %>
    </ul>

    <!-- Comment utiliser l'extension avec un exemple -->
    <h2>Exemple d'utilisation de l'extension</h2>
    <pre>
      <code>
          var map = L.map('map').setView([48, 2], 6);

          var wms = L.geoportalLayer.WMS({
              layer : "ORTHOIMAGERY.ORTHOPHOTOS"
          });

          wms.addTo(map);

          var wmts = L.geoportalLayer.WMTS({
              layer : "GEOGRAPHICALGRIDSYSTEMS.MAPS"
          },
          {
              opacity : 0.5
          });

          wmts.addTo(map);

          var mouse = L.geoportalControl.MousePosition({position:"topleft"});
          map.addControl(mouse);

          var search = L.geoportalControl.SearchEngine();
          map.addControl(search);

          var iso = L.geoportalControl.Isocurve();
          map.addControl(iso);

          var switcher = L.geoportalControl.LayerSwitcher();
          map.addControl(switcher);

          L.marker([48, 2]).addTo(map)
            .bindPopup('...')
            .openPopup();
      </code>
    </pre>

    <!-- Toutes les informations utiles sur Leaflet -->
    <h2>Ressources Leaflet</h2>
    <p>
      <ul>
        <li><a href="http://leafletjs.com/examples/quick-start.html" target="_blank">Leaflet Quick start guide</a></li>
        <li><a href="http://leafletjs.com/examples.html" target="_blank">Galerie d'exemples Leaflet</a></li>
        <li><a href="http://leafletjs.com/reference.html" target="_blank">Leaflet API documentation</a></li>
        <li><a href="https://github.com/Leaflet/Leaflet/blob/master/FAQ.md" target="_blank">Leaflet FAQ</a></li>
      </ul>
    </p>
  </div>
</body>
</html>
