<!DOCTYPE html>
<html>
    <head>
        {{#extend "partials-common-head"}}
        {{/extend}}
        {{#extend "partials-leaflet-common-head"}}
        {{/extend}}
        {{#extend "partials-leaflet-amd-head"}}
        {{/extend}}

        {{#block "head"}}
        {{/block}}
        {{#block "style"}}
        {{/block}}

    </head>
    <body>
        <h1>Extension Géoportail pour Leaflet (mode AMD)</h1>

        {{#block "body"}}
        {{/block}}

        {{#block "js"}}
        {{/block}}
    </body>
</html>
