/* MOUSE POSITION */

div[id^=GPmousePosition-] {
  bottom: 8px;
  left: 10px;
}

/* Showing/hiding mouse position panel */

span[id^=GPshowMousePositionOpen] {
  background-image: url("img/GPmousePositionOpen.png");
}

/* General panels */

div[id^=GPmousePositionPanel-] {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

div[id^=GPmousePositionPanelClose]  {
  background-image: url("img/GPmousePositionOpen.png");
}

.GPmousePositionEditTool {
    background-image: url("img/GPmousePositionEditCoordinates.png");
}

/* Map center localisation */

#GPmapCenter {
  background-image: url("img/GPmapCenter.png");
}
