/* CSS : Raw */

#profileElevationRaw {
  resize: none;
  padding: unset;
}

/* CSS : default */

/* suppression des puces sur les listes */
div#profileElevationByDefault {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  /*flex-flow: row wrap;*/
  height: inherit;
  width: inherit;
}

div#profileElevationByDefault > * {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1 100%;
}

ul#data-default {
    list-style: none;
    box-sizing: border-box;
    padding: 0px;
    position : relative;
    margin : 10px ;￼
    margin-top: auto;
￼    margin-bottom: auto;
    height: 100px;
    /*width: 100%*/
}

.z-title-vertical {
  align-self: flex-start;
  padding-left: 10px;
  /*position: absolute;*/
  /*transform: rotate(-90deg);*/
}

.x-title-horizontal {
  align-self: flex-end;
  padding-right: 10px;
  /*position: absolute;*/
  /*transform: translate(120px, -30px);*/
}

.z-axis {
    border-right: none;
    border-left: solid 2px;
    cursor: default;
}

.x-axis {
    border-top: none;
    border-bottom: solid 2px;
    cursor: default;
}

ul#data-default li.percent {
    display: inline-block;
    vertical-align: bottom;
    background-color: #C77A04;
    opacity : 0.3;
    border-top: solid 1px;
    border-radius: 2px;
    cursor: pointer;
}

li.axe span.bottom-axis {
    vertical-align: bottom;
}

ul#data-default .percent:hover {
    display: inline-block;
    /*vertical-align: bottom;*/
    background-color: #f00;
}

.v0 { height: 0%; }
.v1 { height: 1%; }
.v2 { height: 2%; }
.v3 { height: 3%; }
.v4 { height: 4%; }
.v5 { height: 5%; }
.v6 { height: 6%; }
.v7 { height: 7%; }
.v8 { height: 8%; }
.v9 { height: 9%; }
.v10 { height: 10%; }
.v11 { height: 11%; }
.v12 { height: 12%; }
.v13 { height: 13%; }
.v14 { height: 14%; }
.v15 { height: 15%; }
.v16 { height: 16%; }
.v17 { height: 17%; }
.v18 { height: 18%; }
.v19 { height: 19%; }
.v20 { height: 20%; }
.v21 { height: 21%; }
.v22 { height: 22%; }
.v23 { height: 23%; }
.v24 { height: 24%; }
.v25 { height: 25%; }
.v26 { height: 26%; }
.v27 { height: 27%; }
.v28 { height: 28%; }
.v29 { height: 29%; }
.v30 { height: 30%; }
.v31 { height: 31%; }
.v32 { height: 32%; }
.v33 { height: 33%; }
.v34 { height: 34%; }
.v35 { height: 35%; }
.v36 { height: 36%; }
.v37 { height: 37%; }
.v38 { height: 38%; }
.v39 { height: 39%; }
.v40 { height: 40%; }
.v41 { height: 41%; }
.v42 { height: 42%; }
.v43 { height: 43%; }
.v44 { height: 44%; }
.v45 { height: 45%; }
.v46 { height: 46%; }
.v47 { height: 47%; }
.v48 { height: 48%; }
.v49 { height: 49%; }
.v50 { height: 50%; }
.v51 { height: 51%; }
.v52 { height: 52%; }
.v53 { height: 53%; }
.v54 { height: 54%; }
.v55 { height: 55%; }
.v56 { height: 56%; }
.v57 { height: 57%; }
.v58 { height: 58%; }
.v59 { height: 59%; }
.v60 { height: 60%; }
.v61 { height: 61%; }
.v62 { height: 62%; }
.v63 { height: 63%; }
.v64 { height: 64%; }
.v65 { height: 65%; }
.v66 { height: 66%; }
.v67 { height: 67%; }
.v68 { height: 68%; }
.v69 { height: 69%; }
.v70 { height: 70%; }
.v71 { height: 71%; }
.v72 { height: 72%; }
.v73 { height: 73%; }
.v74 { height: 74%; }
.v75 { height: 75%; }
.v76 { height: 76%; }
.v77 { height: 77%; }
.v78 { height: 78%; }
.v79 { height: 79%; }
.v80 { height: 80%; }
.v81 { height: 81%; }
.v82 { height: 82%; }
.v83 { height: 83%; }
.v84 { height: 84%; }
.v85 { height: 85%; }
.v86 { height: 86%; }
.v87 { height: 87%; }
.v88 { height: 88%; }
.v89 { height: 89%; }
.v90 { height: 90%; }
.v91 { height: 91%; }
.v92 { height: 92%; }
.v93 { height: 93%; }
.v94 { height: 94%; }
.v95 { height: 95%; }
.v96 { height: 96%; }
.v97 { height: 97%; }
.v98 { height: 98%; }
.v99 { height: 99%; }
.v100 { height: 100%; }

/* CSS : D3 */

text {
  fill: rgb(94, 94, 94);
  font-family: Verdana;
  font-size: 10px;
  opacity: 1;
  text-anchor: end;
}

.axis-d3 {
  fill: none;
  stroke: #5E5E5E;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.area-d3 {
  fill: #C77A04;
  stroke: #5E5E5E;
  stroke-width: 0;
  fill-opacity: 0.4;
}

.line-d3 {
  fill: none;
  stroke: #C77A04;
  stroke-width: 1px;
}

.grid-d3 .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid-d3 path {
  stroke-width: 0;
}

.grid-d3 .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid-d3 path {
  stroke-width: 0;
}

.overlay-d3 {
  fill: none;
  pointer-events: all;
}

.focusLine-d3 {
  fill: none;
  stroke: #C77A04;
  stroke-width: 0.5px;
}

.focusCircle-d3 {
  fill: #C77A04;
}

div.tooltip-d3 {
    position: inherit;;
    text-align: left;
    width: 80px;
    height: 35px;
    padding: 2px;
    font: 8px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
