#GPtoolbox-measure {
  float: left;
  position: relative;
  display: inline-block;
  top: 100px;
  left: 8px;
  z-index: 1;
}

#GPtoolbox-measure-btn {
  color: white;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: rgba(0,60,136,0.5);
  border-radius: 4px;
}

#GPtoolbox-measure-content {
  left:auto;
  display: none;
  position: absolute;
  /*right: 0;*/
  border-radius: 2px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#GPtoolbox-measure-content div {
  display: block;
  position: relative;
  top: auto;
  left: auto;
}

#GPtoolbox-measure:hover #GPtoolbox-measure-content {
    display: block;
}

#GPtoolbox-measure:hover #GPtoolbox-measure-btn {
    background-color: rgba(0,60,136,0.7);
}
