.GpMessageBox {
    width: 100%;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.GpBoxSeverityInfo {
    background-color: lightblue;
    color: black;
}

.GpBoxSeverityWarning {
    background-color: orange;
    color: black;
}

.GpBoxSeverityError {
    background-color: red;
    color: white;
}

.GpBoxClose {
    width: 26px;
    height: 26px;
    position: relative;
    background-image: url("img/GpMessageBoxOpen.png");
    cursor: pointer;
}

.GpBoxText {
    width: inherit;
    text-align: center;
    overflow-y: auto;
}

.GpBoxDuration {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

.GpBoxCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
