/* MOUSE POSITION */

div[id^=GPmousePosition-] {
  bottom: 8px;
  left: 10px;
}

/* Showing/hiding mouse position panel */

span[id^=GPshowMousePositionOpen] {
  background-image: url("img/GPmousePositionOpen.png");
}

/* General panels */

div[id^=GPmousePositionPanelClose]  {
  background-image: url("img/GPmousePositionOpen.png");
}

div[id^=GPmousePositionCoordinate-] input.error {
    border: 1px solid rgb(255, 0, 0);
}
div[id^=GPmousePositionCoordinate-] input[readonly] {
    border: 1px solid transparent;
    padding: 2px;
    text-align: right;
}

input[id^=GPmousePositionLat-], input[id^=GPmousePositionLon-] {
    width: 90px;
}

span[id^=GPmousePositionAlt-] {
    display: inline-block;
    width: 90px;
    line-height: 20px;
    text-align: right;
}

/* sexagesimal coordinates */

.GPSexagesimal, .GPSexagesimalsec {
	margin:0;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
}

input:read-only.GPSexagesimal, input:read-only.GPSexagesimalsec {
    text-align: right;
}

.GPSexagesimal {
	width: 25px;
}

.GPSexagesimalsec {
	width: 38px;
}
.GPmousePositionSexagesimalLabel {
	font-size: 1.2em;
	vertical-align: middle;
	padding: 0;
}

/* direction N/S ou E/O */
select.GPmousePositionDirection {
    border: 1px solid #999;
    margin-left: 2px;
}

select.GPmousePositionDirection:disabled{
    border: none;
    background: transparent;
    color: black;
    /*For FireFox*/
   -webkit-appearance: none;
   /*For Chrome*/
   -moz-appearance: none;
}

/*For IE10+*/
select.GPmousePositionDirection:disabled::-ms-expand {
    display: none;
}
select.GPmousePositionDirection:disabled::-ms-value {
    color: black;
}

.GPmousePositionUnits,
.GPmousePositionAltitudeUnits {
    margin-left: 5px;
}

/* EDIT COORDINATES TOOLS */
.GPmousePositionPanelEditTools {
    position: absolute;
    top: 20px;
    right: 5px;
}

.GPmousePositionEditTool {
    width: 18px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
    background-image: url("img/GPmousePositionEditCoordinates.png");
}

span[id^=GPmousePositionCloseEdit] {
    background-position: -18px 0;
    margin-left: 5px;
}

/* Map center localisation */

#GPmapCenter {
  background-image: url("img/GPmapCenter.png");
}
