/* GET FEATURE INFO */

label[id^=GPgetFeatureInfoPicto] {
  display: inline-block;
}

div[id^=GPgetFeatureInfo-] + label {
  display: block;
}

span[id^=GPgetFeatureInfoActivate],
span[id^=GPgetFeatureInfoDeactivate] {
  position: absolute;
  display: block;
  transition: border-radius 0.5s ease-out 0s, opacity 0.5s ease-out 0s;
}

span[id^=GPgetFeatureInfoActivate] {
  background-position: 0 0;
  opacity: 1;
}

span[id^=GPgetFeatureInfoDeactivate] {
  opacity: 0;
}

div[id^=GPgetFeatureInfo-] input[type="checkbox"]:not(:checked) + label[id^=GPgetFeatureInfoPicto] span[id^=GPgetFeatureInfoDeactivate] {
  opacity: 1;
}
