/* Widgets : general */

.GPwidget {
  position: absolute;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #333;
}

.GPwidget * {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/* waiting */

.GPwaiting {
    background-image : url("img/waiting.gif");
    background-position : center center;
    background-repeat : no-repeat;
}

/* General panels */

.GPpanel {
  background-color: #FFF;
}

.GPpanelHeader {
  position: relative;
  width: 100%;
}

.GPpanelTitle {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.GPpanelClose, .GPpanelReduce {
  position: absolute;
  cursor: pointer;
}

/* Showing/hiding advanced panels */

.GPshowAdvancedToolPicto {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.GPshowAdvancedToolOpen {
  position: absolute;
  display: block;
  box-sizing: border-box;
}

/* Flex inputs */

.GPflexInput {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.GPflexInput > * {
  display: block;
  height: 28px;
  line-height: 26px;
  border: 1px solid #999;
  border-radius: 0;
}

.GPflexInput *:not(:last-child) {
  border-right:none;
}

.GPflexInput *:first-child {
  border-radius: 3px 0 0 3px;
}

.GPflexInput *:last-child {
  border-radius: 0 3px 3px 0;
}

.GPflexInput > *:not(input) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.GPflexInput > input {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px;
  min-width: 0;
}

.GPflexInput > select {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 7px;
}

.GPflexInput > label {
  background-color:  #F2F2F2;
  color: #666;
  padding-left: 7px;
  padding-right: 9px;
  cursor: pointer;
}

/* General panels */

.GPpanel {
  box-shadow: 0 0 6px #000;
  border-radius: 4px;
}

.GPpanelHeader {
  height: 32px;
  padding: 3px;
  background-color: #9DB1BD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.GPpanelTitle {
  line-height: 26px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #366291;
  color: #FFF;
}

.GPpanelClose {
  top: 3px;
  right: 3px;
  width: 26px;
  height: 26px;
  background-position: -26px 0;
}

/* Panel */

[id^=GPelevationPathPanel-] {
  /*position : relative;
  top : 6px;
  left: 32px;*/
  width : 280px ;

}

/* Calc waiting */

.GPelevationPathCalcWaitingContainerVisible,
.GPelevationPathCalcWaitingContainerHidden {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
}

.GPelevationPathCalcWaitingContainerVisible {
  display: -webkit-flex;
  display: flex;
}

.GPelevationPathCalcWaitingContainerHidden {
  display: none;
}

.GPelevationPathCalcWaiting {
  margin: auto;
}

.GPelevationPathCalcWaitingContainerVisible,
.GPelevationPathCalcWaitingContainerHidden {
  border-radius: 5px;
}

/* ELEVATION PATH DISPLAY */

[id^=GPelevationPathProfil] {
  height: 150px;
  width: inherit;
}

.GPpanelHeader {
  padding: unset;
}

/* CSS : default */

/* suppression des puces sur les listes */
div#profileElevationByDefault {
  height: inherit;
  width: inherit;
}

ul#data-default {
    list-style: none;
    box-sizing: border-box;
    padding: 0px;
    position : relative;
    margin : 10px ;
    height: 95%;
    width: 95%;
}

.z-title-vertical {
  position: absolute;
  transform: rotate(-90deg) translateX(-50px);
}

.x-title-horizontal {
  position: absolute;
  transform: translate(120px, 115px);
}

.z-axis {
    border-right: none;
    border-left: solid 2px;
    cursor: default;
}

.x-axis {
    border-top: none;
    border-bottom: solid 2px;
    cursor: default;
}

ul#data-default li.percent {
    display: inline-block;
    vertical-align: bottom;
    background-color: #C77A04;
    opacity : 0.3;
    border-top: solid 1px;
    border-radius: 2px;
    cursor: pointer;
}

li.axe span.bottom-axis {
    vertical-align: bottom;
}

ul#data-default .percent:hover {
    display: inline-block;
    /*vertical-align: bottom;*/
    background-color: #f00;
}

.v0 { height: 0%; }
.v1 { height: 1%; }
.v2 { height: 2%; }
.v3 { height: 3%; }
.v4 { height: 4%; }
.v5 { height: 5%; }
.v6 { height: 6%; }
.v7 { height: 7%; }
.v8 { height: 8%; }
.v9 { height: 9%; }
.v10 { height: 10%; }
.v11 { height: 11%; }
.v12 { height: 12%; }
.v13 { height: 13%; }
.v14 { height: 14%; }
.v15 { height: 15%; }
.v16 { height: 16%; }
.v17 { height: 17%; }
.v18 { height: 18%; }
.v19 { height: 19%; }
.v20 { height: 20%; }
.v21 { height: 21%; }
.v22 { height: 22%; }
.v23 { height: 23%; }
.v24 { height: 24%; }
.v25 { height: 25%; }
.v26 { height: 26%; }
.v27 { height: 27%; }
.v28 { height: 28%; }
.v29 { height: 29%; }
.v30 { height: 30%; }
.v31 { height: 31%; }
.v32 { height: 32%; }
.v33 { height: 33%; }
.v34 { height: 34%; }
.v35 { height: 35%; }
.v36 { height: 36%; }
.v37 { height: 37%; }
.v38 { height: 38%; }
.v39 { height: 39%; }
.v40 { height: 40%; }
.v41 { height: 41%; }
.v42 { height: 42%; }
.v43 { height: 43%; }
.v44 { height: 44%; }
.v45 { height: 45%; }
.v46 { height: 46%; }
.v47 { height: 47%; }
.v48 { height: 48%; }
.v49 { height: 49%; }
.v50 { height: 50%; }
.v51 { height: 51%; }
.v52 { height: 52%; }
.v53 { height: 53%; }
.v54 { height: 54%; }
.v55 { height: 55%; }
.v56 { height: 56%; }
.v57 { height: 57%; }
.v58 { height: 58%; }
.v59 { height: 59%; }
.v60 { height: 60%; }
.v61 { height: 61%; }
.v62 { height: 62%; }
.v63 { height: 63%; }
.v64 { height: 64%; }
.v65 { height: 65%; }
.v66 { height: 66%; }
.v67 { height: 67%; }
.v68 { height: 68%; }
.v69 { height: 69%; }
.v70 { height: 70%; }
.v71 { height: 71%; }
.v72 { height: 72%; }
.v73 { height: 73%; }
.v74 { height: 74%; }
.v75 { height: 75%; }
.v76 { height: 76%; }
.v77 { height: 77%; }
.v78 { height: 78%; }
.v79 { height: 79%; }
.v80 { height: 80%; }
.v81 { height: 81%; }
.v82 { height: 82%; }
.v83 { height: 83%; }
.v84 { height: 84%; }
.v85 { height: 85%; }
.v86 { height: 86%; }
.v87 { height: 87%; }
.v88 { height: 88%; }
.v89 { height: 89%; }
.v90 { height: 90%; }
.v91 { height: 91%; }
.v92 { height: 92%; }
.v93 { height: 93%; }
.v94 { height: 94%; }
.v95 { height: 95%; }
.v96 { height: 96%; }
.v97 { height: 97%; }
.v98 { height: 98%; }
.v99 { height: 99%; }
.v100 { height: 100%; }
