#app-content {
    margin-top: 140px;
}
h1 {
    text-align: center;
}
header {
    position: relative;
    width: calc(100% - 16px);
    min-width: 590px;
    z-index: 1000;
    top: 10px;
    background-image: url("/assets/img/entete.png");
    height : 120px ;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #71767A;
}

.header-content {
    position: relative;
    /* max-width: 1200px; */
    margin: auto;
}

header .header-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.logoIGN {
    display: inline-block;
    width: 94px ;
    height: 100px;
    margin: 10px;
    margin-left: 20px;
}

.logoIGN img {
    width: 100%;
    height: 100%;
}

header h1 {
    -webkit-flex: 1;
    flex: 1;
    font-family: OpenSansLight, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1em;
    color: #71767A;
    margin: 0 50px;
    margin-bottom: 20px;
    text-indent: -15px;
}
.ribbon-github {
    /* positioning */
    position: fixed;
    padding: 5px 45px;
    width: 128px;
    /* top right of the page */
    top: 50px;
    right: -50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /* effects with some shadow */
    box-shadow: 0 0 0 3px #3796ad, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0 #e5e5e5, 0 0 5px rgba(0, 0, 0, 0.3);
    /* looks */
    background-color: #3796ad;
    color: #e5e5e5;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    /* ribbon effects */
    border: 2px dotted #e5e5e5;
    /* webkit antialias fix */
    -webkit-backface-visibility: hidden;
    letter-spacing: .5px;
}
main {
    min-height: 300px;
}
footer {
    margin-top: 5px;
    padding: 10px;
    background-color: #71767A;
    color: #FFF;
    font-size: 14px;
}

footer p {
    width: 60%;
    margin-left: 10%;
}

footer p:not(:first-child) {
    /* margin-top: 1em; */
}

footer p img:first-child {
    margin-right: 15px;
}