div[id^=GPAttribution-] {
    display: flex;
    bottom: 8px;
    right: 8px;
    width: calc(90% - 1.3em);
}

div[id^=GPAttributionsListContainer-] {
    display: none;
    width: 80%;
    height: 80%;
    background: white;
    opacity: 0.5;
    border-radius: 4px;
    z-index: 0;
    position: absolute;
}

div[id^=GPAttributionsListContainer-] ul {
    display: flex;
    margin: auto;
    list-style: none;
}

label[id^=GPshowAttributionsListPicto-] {
    display: flex;
    z-index: 1;
    position: relative;
    margin-left: auto;
}

input[id^=GPshowAttributionsList-]:checked + div[id^=GPAttributionsListContainer-] {
    display: flex;
}

input[id^=GPshowAttributionsList-]:checked + div[id^=GPAttributionsListContainer-] + label[id^=GPshowAttributionsListPicto-] {
    background-color: transparent;
}

span[id^=GPshowAttributionsListOpenClose-] {
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    line-height: 1.2em;
}

div[id^=GPAttributionsListContainer-] li:before {
    content: "  |  ";
}

div[id^=GPAttributionsListContainer-] ul li:nth-child(1):before {
      content: "";
}

div[id^=GPAttributionsListContainer-] ul li:first-child:before {
      content: "";
}

div[id^=GPAttributionsListContainer-] a:link {
    text-decoration: none;
}

div[id^=GPAttributionsListContainer-] a:visited {
    text-decoration: none;
}
