/* Location */

/*#GPlocation {
   top: 100px;
}*/

/* Showing/hiding mouse position panel */

/*#GPshowLocationPicto {
  display: inline-block;
}

#GPshowLocation + label {
  display: block;
}

#GPshowLocation:checked + label {
  display: none;
}

#GPshowLocation + label + div {
  display: none;
}

#GPshowLocation:checked + label + div {
  display: block;
}*/

/* General panels */

/*#GPlocationPanel {
  width: 320px;
}

.GPlocationComponentHidden {
  display: none;
}*/

/* Location form */

/*#GPlocationForm {
  padding: 15px;
}

.GPlocationFormMini {
  max-height: 58px;
  overflow: hidden;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}*/

.GPlocationStageFlexInput {
  max-height: 28px;
  opacity: 1;
}

.GPlocationStageFlexInputHidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

/*#GPlocationForm > .GPlocationStageFlexInput {
  margin-top: 5px;
}

#GPlocationForm > .GPlocationStageFlexInputHidden {
  margin-top: 0;
}

#GPlocationForm > .GPlocationStageFlexInput:first-child {
  margin-top: 0;
  transition: none;
}

#GPlocationForm.GPlocationFormMini > .GPlocationStageFlexInput:first-child {
  margin-top: 5px;
}*/

.GPlocationOriginVisible {
  display: block;
}

.GPlocationOriginHidden {
  display: none;
}

label.GPlocationOriginPointerImg[id*="GPlocationOriginPointerImg"] {
  width: 28px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #999;
}

input[id*="GPlocationOriginPointer"] + .GPlocationOriginPointerImg {
  background-position: -1px -1px;
}

input[id*="GPlocationOriginPointer"]:checked + .GPlocationOriginPointerImg {
  background-position: -29px -1px;
}

.GPlocationStageRemove,
#GPlocationStageAdd {
  width: 28px;
  border: none;
  cursor: pointer;
}

/*.GPlocationFormMini .GPlocationStageRemove,
.GPlocationFormMini #GPlocationStageAdd {
  display: none;
}*/

.GPlocationStageRemove {
  background-position: -84px 0;
}

#GPlocationStageAdd {
  background-position: -56px 0;
}

/* Mode choice */

/*#GPlocationModeChoice {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 15px 0;
}

.GPlocationModeLabel {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

#GPlocationTransportChoice input {
  display: none;
}

.GPlocationTransportImg {
  display: inline-block;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

#GPlocationTransportCar + .GPlocationTransportImg {
  background-position: -112px 0;
  margin-left: 21px;
  margin-right: 10px;
}

#GPlocationTransportCar:checked + .GPlocationTransportImg {
  background-position: -140px 0;
}

#GPlocationTransportPedestrian + .GPlocationTransportImg {
  background-position: -168px 0;
}

#GPlocationTransportPedestrian:checked + .GPlocationTransportImg {
  background-position: -196px 0;
}

#GPlocationComputationSelect {
  width: 100px;
}*/

/* Showing/hiding exclusions */

/*#GPshowLocationExclusions {
  display: none;
}

.GPshowLocationExclusionsPicto {
  top: 185px;
  right: 0;
  transition: all 0.5s ease-out 0s;
}

#GPshowLocationExclusions + label + #GPlocationExclusions {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
}

#GPshowLocationExclusions:checked + label + #GPlocationExclusions {
  display: block;
  max-height: 60px;
  opacity: 1;
  margin-bottom: 15px;
}*/

/* Exclusions */

/*#GPlocationExclusions {
  transition: max-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out 0.25s, margin 0.3s ease-in-out 0.25s;
  overflow: hidden;
}

.GPlocationExclusionsLabel {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 16px;
}

.GPlocationExclusionsOptions {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.GPlocationExclusionsOption {
  display: block;
  height: 28px;
  line-height: 26px;
  color: #A77;
  background-color: #FEE;
  padding-left: 28px;
  padding-right: 5px;
  border: 1px solid #A77;
  border-radius: 3px;
  cursor: pointer;
}

input:checked + .GPlocationExclusionsOption {
  background-color: #EFE;
  background-position: 0 -28px;
  color: #797;
  border: 1px solid #797;
}*/

/* Result panel */

/*#GPlocationResultsPanel {
  padding: 15px;
}

.GPlocationResultStage {
  display: -webkit-flex;
  display: flex;
}

#GPlocationResultsStages {
  margin-bottom: 15px;
}

.GPlocationResultStageLabel,
.GPlocationResultStageValue,
.GPlocationResultsValueLabel,
#GPlocationResultsValueDist,
#GPlocationResultsValueTime {
  display: inline-block;
  line-height: 18px;
}

.GPlocationResultStageLabel,
.GPlocationResultsValueLabel {
  color: #666;
}

.GPlocationResultStageLabel {
  width: 60px;
}

.GPlocationResultsValueLabel {
  width: 65px;
}

.GPlocationResultStageValue {
  -webkit-flex: 1;
  flex: 1;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#GPlocationResultsValueDist,
#GPlocationResultsValueTime {
  width: 80px;
  font-weight: bold;
}

#GPlocationResults {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}

select#GPlocationResultsComputationSelect {
  width: 100px;
}

#GPlocationResultsNew {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  opacity: 0.8;
  background-position: -224px 0;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

#GPlocationResultsNew:hover {
  opacity: 1;
}*/

/* Results details header */

/*.GPfakeBorder {
  display: inline-block;
  height: 14px;
  width: 60px;
  border-bottom: 1px solid #999;
}

.GPfakeBorderLeft {
  margin-left:15px;
}

#GPlocationResultsShowDetails + label,
#GPlocationResultsShowDetails + label + label {
  width: 130px;
  line-height: 28px;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-out;
}

#GPlocationResultsShowDetails + label,
#GPlocationResultsShowDetails:checked + label + label {
  display: inline-block;
}

#GPlocationResultsShowDetails:checked + label,
#GPlocationResultsShowDetails + label + label {
  display: none;
}

#GPlocationResultsShowDetails + label + label + div + #GPlocationResultsDetails {
  max-height: 0;
  opacity: 0;
}

#GPlocationResultsShowDetails:checked + label + label + div + #GPlocationResultsDetails {
  max-height: 200px;
  opacity: 1;
}

#GPlocationResultsDetails {
  overflow-y: auto;
  transition: max-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out 0.25s;
}

.GPlocationResultsDetailsNumber,
.GPlocationResultsDetailsInstruction {
  display: inline-block;
  margin-top: 4px;
  line-height: 16px;
  color: #666;
}

.GPlocationResultsDetailsNumber {
  font-weight: bold;
  width: 22px;
  text-align: right;
  vertical-align: top;
}

.GPlocationResultsDetailsInstruction {
  width: calc(100% - 30px);
  padding-left: 5px;
}*/
