/* MOUSE POSITION */

#GPmousePosition {
  /* bottom: 10px; */
  /* left: 10px; */
}

/* Showing/hiding mouse position panel */

#GPshowMousePositionOpen {
  background-image: url("img/GPmousePositionOpen.png");
}

/* General panels */

#GPmousePositionPanelClose {
  background-image: url("img/GPmousePositionOpen.png");
}

/* Map center localisation */

#GPmapCenter {
  background-image: url("img/GPmapCenter.png");
}