/**
* Map loading
* @sample
* function setMap(map) {
*   var center = this._createLoadingElement();
*   map.getViewport().appendChild(center);
*   center.className = ""; // invisible !
*   center.className = "GPmapLoadingVisible"; // visible !
* }
*
* function _createLoadingElement() {
*   var div = document.createElement("div");
*   div.id = "GPmapLoading";
*   div.className = "";
*   return div;
* }
*/

#GPmapLoading {
  display: none;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
}

#GPmapLoading.GPmapLoadingVisible {
  display: block;
}

#GPmapLoading {
    background-image: url("img/waiting.gif");
}
