/* Location */

.GPlocationOriginPointerImg,
.GPlocationStageRemove,
div[id^=GPlocationStageAdd],
.GPlocationTransportImg {
  background-image: url("img/GPlocationOptions.png");
}

/* All div elements whose class attribute value begins with "GPlocationPoint" */
div[class*="GPlocationPoint"] {
    position: relative;
}

.GPlocationStageFlexInput {
    margin-bottom: 5px;
}
