<!DOCTYPE html>
<html>
    <head>
        {{#extend "partials-common-head"}}
        {{/extend}}
        {{#extend "partials-ol-common-head"}}
        {{/extend}}
        {{#block "vendor"}}
        {{/block}}
        {{#extend "partials-ol-es6-head"}}
        {{/extend}}

        {{#block "head"}}
        {{/block}}
        {{#block "style"}}
        {{/block}}

    </head>
    <body>
        <h1>Extension Géoportail pour OpenLayers avec ES6 module</h1>

        {{#block "body"}}
        {{/block}}

        {{#block "js"}}
        {{/block}}
    </body>
</html>
